<div class="row">
  <div class="col-12">
    <h1>Gems</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Content</th>
              <th scope="col">Type</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gem of gemsStore.gems()">
              <td>{{ gem.title }}</td>
              <td>{{ gem.content }}</td>
              <td>{{ gem.type }}</td>
              <td>
                <button (click)="gemsStore.deleteGem(gem._id)" class="btn btn-danger">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
